<h1>Hello, {{ .Name }}</h1>

<p>Bio: {{ .Bio }}</p>

<p>Age: {{ .Age }}</p>


<p>
<strong>Contact Info:</strong>
{{range $key, $value := .ContactInfo}}
<br>
<strong>{{ $key }}</strong><br>
Phone: {{ $value.Phone }}<br>
Email: {{ $value.Email }}<br>
{{end}}
</p>


<script>
const user = {
    "name": {{.Name}},
    "bio": {{.Bio}},
    "age": {{.Age}}
};
console.log(user);
</script>
